@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    display: flex;
    align-items: center; /* alinha verticalmente ao centro */
    justify-content: center; /* alinha horizontalmente ao centro */
    min-height: 100vh;
    padding: 1.5rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    max-width: 320px; /* largura máxima conforme design mobile */
    padding: 1rem 1rem 2.5rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card__image img {
    width: 100%; /* imagem ocupa toda a largura do card */
    border-radius: 0.75rem;
    display: block;
}

.card__content {
    margin-top: 1.5rem;
    padding: 0 0.5rem;
}
  
  .card__content h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
}
  
  .card__content p {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}